{%extends 'base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
         <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <form action="" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="process">
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{%endblock%}